version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      test-dependencies:
        patterns:
        - "*"
    labels:
      - "dependencies"
      - "ruby"
      - "skip changelog"
  - package-ecosystem: "composer"
    directory: "/support/devcenter"
    schedule:
      interval: "monthly"
    groups:
      devcenter-generator-dependencies:
        patterns: 
        - "*"
    labels:
      - "dependencies"
      - "php"
      - "skip changelog"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      github-actions:
        update-types:
          - "minor"
          - "patch"
    labels:
      - "dependencies"
      - "github actions"
      - "skip changelog"
